.invisible#breadcrumb
  = render_breadcrumbs
.row.flex-box-center
  .col.s12.m10.force_margin
    .card.card-cascade.narrower.pt-0.light-1
      .view.view-cascade.gradient-card-header.gradient-blue.narrower.py-3.mx-4.d-flex.justify-content-between.align-items-center
        = link_to customers_dashboard_path, role: "button", class: "btn btn-outline-white btn-rounded btn-sm px-2", title: t("base.forms.back") do
          %i.fas.fa-chevron-left
        %h3.center.mt-2
          %strong
            =t("things.index.devices")
        = link_to customers_dashboard_path, role: "button", class: "btn btn-outline-white btn-rounded btn-sm px-2 disabled hidden", title: t("base.forms.back") do
          %i.fas.fa-chevron-left
      %nav.navbar.navbar-expand-lg.navbar-light.blue-grey.lighten-5.mt-4.pb-3.pb-lg-2
        %p.navbar-brand.mb-0
        = t('base.filters.filter')
        %button.navbar-toggler{"aria-controls" => "filterbar", "aria-expanded" => "false", "aria-label" => "Toggle filter", "data-target" => "#filterbar", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #filterbar.collapse.navbar-collapse
          = form_tag(customers_things_path, method: :get, class: "form-inline ml-auto filter-form", id: "things-filter-form")
          .row
            .col-12.col-sm-6.col-md-3
              .md-form.mt-0.mb-2.m-md-0.mx-2
                = text_field_tag(:search, params[:search], {class: "form-control", placeholder: t('base.filters.search'), style: "width: 100%;"})
            .col-12.col-sm-6.col-md-3
              = select_tag "status", options_for_select_status(@status), {include_blank: t('base.filters.status'), class: "mdb-select md-form colorful-select dropdown-dark my-select mt-0 mb-2 m-md-0 mx-2", searchable: t('base.filters.search')}
            .col-12.col-sm-6.col-md-3.d-flex.align-items-center.justify-content-center.flex-row
              %button.btn.secondary-color.btn-rounded.btn-md.text-white.my-2.my-md-0.mx-2{type: "submit", style: "width: 110px"}
                = t("base.forms.search")
              %i.fa.fa-trash{id: "cancel_search", title: "Clear Filter"}
      .card.py-0
        .card-body
          //.table-responsive
          .device-tableWrapper
            %table#device-table.table.table-striped.table-bordered.table-hover.table-sm.btn-table{cellspacing: "0", width: "100%"}
              %caption
                = "#{t('base.forms.list_of')}#{t('things.index.device')}"
              %thead.secondary-color.white-text.align-center
                %tr
                  %th.th-sm
                    =t("things.index.code")
                  %th.th-sm
                    =t("things.index.thing_name")
                  %th
                    =t("things.index.status")
                  %th
                    =t("things.index.thing_desc")
                  %th.th-sm
                    =t("base.forms.options")
              %tbody
                - @things.each do |thing|
                  %tr
                    %td.limitado
                      = thing.code_scan
                    %td= thing.name
                    %td= thing_status_humanized(thing.status.description)
                    %td= thing.description
                    %td.align-center
                      .btn-group-vertical{class: "card__button btn btn-primary btn-sm", "data-target" => "#modal_thing_#{thing.slug}", "data-toggle" => "modal", type: "button", title: t("things.index.details")}
                        %i.fas.fa-info
                      .modal{id: "modal_thing_#{thing.slug}", "aria-hidden" => "true", "aria-labelledby" => "modal_thing", role: "dialog", tabindex: "-1"}
                        .modal-dialog.modal-dialog-centered.modal-lg{role: "document"}
                          .modal-content
                            .modal-header
                              %h5.modal-title{style: "margin-left: auto;"}
                                = "#{t('things.index.last_works')} #{thing.name}"
                              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                                %span{"aria-hidden" => "true"} ×
                            .modal-body
                              = render 'thing_modal_detail', thing: thing
                            .modal-footer
                              %button.btn.btn-success{"data-dismiss" => "modal", type: "button", style: "margin-left: auto; margin-right: auto;"}
                                = t('things.index.modal_close')
                      -# - if histories_limited(thing).size > 0
                      -#   .btn-group-vertical{class: "card__button btn btn-info btn-sm", "data-target" => "#histories_thing_#{thing.slug}", "data-toggle" => "modal", type: "button", title: t('things.index.histories')}
                      -#     %i.fas.fa-history
                      -#   .modal{id: "histories_thing_#{thing.slug}", "aria-hidden" => "true", "aria-labelledby" => "histories_thing_modal", role: "dialog", tabindex: "-1"}
                      -#     .modal-dialog.modal-dialog-centered.modal-lg{role: "document"}
                      -#       .modal-content
                      -#         .modal-header
                      -#           %h5.modal-title{style: "margin-left: auto;"}
                      -#             = "#{t('things.index.last_works')} #{thing.name}"
                      -#           %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                      -#             %span{"aria-hidden" => "true"} ×
                      -#         .modal-body
                      -#           = render 'histories_thing_modal', thing: thing
                      -#         .modal-footer
                      -#           %button.btn.btn-success{"data-dismiss" => "modal", type: "button", style: "margin-left: auto; margin-right: auto;"}
                      -#             = t('things.index.modal_close')
