#accordion
  .card
    .card-header{id: "heading_logs"}
      %h5.mb-0
        %button.btn.btn-info.collapsed{"aria-controls" => "collapse_logs", "aria-expanded" => "true", "data-target" => "#collapse_logs", "data-toggle" => "collapse"}
          = "Logs"
    .collapse{id: "collapse_logs","aria-labelledby" => "heading_logs", "data-parent" => "#accordion"}
      .card-body
        %table.table-bordered.table-hover.table-sm.table-responsive
          %thead.secondary-color.white-text.align-center
            %tr
              %th.align-center
                = t('orders.logs.user')
              %th.align-center
                = t('orders.logs.action')
              %th.align-center
                = t('orders.logs.status')
              %th.align-center
                = t('orders.logs.date')
              %th.align-center
                = t('orders.logs.changes')
          %tbody
            - logs.each do |log|
              %tr
                %td
                  = log.username
                %td
                  = log.action
                %td
                  = order_status_humanized(log.status_description)
                %td{style: "min-width: 100px;"}
                  = log.created_at.strftime("%Y-%m-%d")
                  %br
                  = log.created_at.strftime("%T")
                %td
                  - new_data = pretty_data_log(log.data_log)
                  %table.table-borderless.table-striped
                    %tbody
                      - new_data.each do |data|
                        %tr
                          %td
                            %b{style: "font-weight: 600;"}
                              = "#{data[:field]}:"
                          %td{style: "min-width: 200px;"}
                            = data[:old_data]
                          %td{style: "min-width: 200px;"}
                            %b{style: "font-weight: 600;"}
                              = data[:new_data]
