.row.flex-box-center
  .col-sm-8.col-md-6.col-lg-5.force_margin
    .card.light-1.p-0
      %h3.card-header.info-color.white-text.text-center.py-4.mb-3 
        = t("profile.reset_password")
      .card-body.px-lg-5 
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { novalidate: "true", method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .row
            .col              
              = f.hidden_field :reset_password_token
              .form__field--input.md-form#rst_verify_pass
                = f.label :password, t("profile.password"), {"data-error" => "wrong", "data-success" => "right"}
                = f.password_field :password, required: true, autofocus: true, autocomplete: "new-password", :class => "form-control validate", style: "margin-bottom: 0.5rem;"                
                %span{toggle: "#user_password", class: "fa fa-fw fa-eye-slash field-icon toggle-password"}
                %small.form-text.text-muted
                  = t("profile.password_length") 
                .invalid-feedback
                  = t("profile.invalid_pattern_password")                
              .form__field--input.md-form#rst_verify_pass_confirm
                = f.label :password_confirmation, "Repeat new password", {"data-error" => "wrong", "data-success" => "right"}
                = f.password_field :password_confirmation, required: true, autocomplete: "off", :class => "form-control validate", style: "margin-bottom: 0.5rem;"
                %span{toggle: "#user_password_confirmation", class: "fa fa-fw fa-eye-slash field-icon toggle-password"}
                .invalid-feedback
                  = t("profile.mismatched_password")
              .row.justify-content-around.actions 
                %button.btn.btn-outline-success.btn-rounded.btn-block.form__submit.my-4{type: "submit", id: "reset_pwd", class: "not_continue"}
                  = t("profile.change_password")
          .row.justify-content-center.sign-options              
            %p.mb-0
              = t("session.index.member")
              %a.form-link{:href => "/en/users/sign_in"}
                = t("session.index.sign_in")
            %p.mb-0
              = t("session.index.or")
            %p
              = t("session.index.not_member")
              %a.form-link{:href => "/en/users/sign_up"}
                = t("session.index.register")
