%p#notice= notice
%h1 Subsidiaries
%table
  %thead
    %tr
      %th Status
      %th Name
      %th Phone
      %th Address
      %th Email
      %th Identification
      %th{:colspan => "3"}
  %tbody
    - @subsidiaries.each do |subsidiary|
      %tr
        %td= subsidiary.status
        %td= subsidiary.name
        %td= subsidiary.phone
        %td= subsidiary.address
        %td= subsidiary.email
        %td= subsidiary.identification
        %td= link_to 'Show', subsidiary
        %td= link_to 'Edit', edit_subsidiary_path(subsidiary)
        %td= link_to 'Destroy', subsidiary, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Subsidiary', new_subsidiary_path
