%table.es-header{:align => "center", :cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr
      %td.esd-stripe{:align => "center"}
        %table.es-header-body{:align => "center", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %tbody
            %tr
              %td.esd-structure{:align => "left"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tbody
                    %tr
                      %td.esd-container-frame{:align => "center", :valign => "top", :width => "600"}
                        %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td.esd-block-menu{"esd-img-prev-h" => "16", "esd-img-prev-w" => "16"}
                                %table.es-menu{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                  %tbody
                                    %tr.links
                                      %td.es-p10t.es-p10b.es-p5r.es-p5l{:align => "center", :bgcolor => "#3e454c", :style => "padding-bottom: 10px; padding-top: 10px; ", :width => "33.33%"}
                                        %a{:href => "https://ordenapp.co", :style => "color: #ffffff;", :target => "_blank"}
                                          = t('mailers.general.about_us')
                                      %td.es-p10t.es-p10b.es-p5r.es-p5l{:align => "center", :bgcolor => "#3e454c", :style => "padding-bottom: 10px; padding-top: 10px; ", :width => "33.33%"}
                                        %a{:href => "https://ordenapp.co", :style => "color: #ffffff;", :target => "_blank"}
                                          = t('mailers.general.what_is')
                                      %td.es-p10t.es-p10b.es-p5r.es-p5l{:align => "center", :bgcolor => "#3e454c", :style => "padding-bottom: 10px; padding-top: 10px; ", :width => "33.33%"}
                                        %a{:href => "https://ordenapp.co", :style => "color: #ffffff;", :target => "_blank"}
                                          = t('mailers.general.contact_us')
%table.es-content{:align => "center", :cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr
      %td.esd-stripe{:align => "center"}
        %table.es-content-body{:align => "center", :bgcolor => "#ffffff", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %tbody
            %tr
              %td.esd-structure.es-p20t.es-p20r.es-p20l{:align => "left"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tbody
                    %tr
                      %td.esd-container-frame{:align => "center", :valign => "top", :width => "560"}
                        %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td.esd-block-image{:align => "center", :style => "font-size: 0px;"}
                                = image_tag("https://#{ENV['S3_BUCKET_NAME']}.s3.amazonaws.com/presentation.jpg", :alt => "", :style => "display: block;", :width => "560", :target => "_blank")
            %tr
              %td.esd-structure.es-p10b.es-p10r.es-p10l{:align => "left"}
                %table.es-left{:align => "left", :cellpadding => "0", :cellspacing => "0"}
                  %tbody
                    %tr
                      %td.es-m-p0r.esd-container-frame{:align => "center", :width => "114"}
                        %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td.esd-block-text{:align => "left"}
                                %p
                                  %br/
                /[if mso] </td><td width="366">
                %table.es-left{:align => "left", :cellpadding => "0", :cellspacing => "0"}
                  %tbody
                    %tr
                      %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tbody
                          %tr
                            %td.esd-block-text.es-m-txt-c.es-p5t.es-p10b.es-p20r.es-p25l{:align => "center"}
                              %h2
                                = "#{t('mailers.admin.welcome')} #{@corporation.try(:name)}!"
                %table.es-right{:align => "right", :cellpadding => "0", :cellspacing => "0"}
                  %tbody
                    %tr
                      %td.esd-container-frame{:align => "center", :width => "100"}
                        %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td.esd-block-text{:align => "left"}
                                %p
                                  %br/

                %tr
                  %td.esd-structure.es-p35r.es-p35l{:align => "left"}
                    %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td.esd-container-frame{:align => "center", :valign => "top", :width => "530"}
                            %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tbody
                                %tr
                                  %td.esd-block-text.es-p10b{:align => "center"}
                                    %p.s
                                      = t("mailers.admin.tutorial")
                                    %br/
                /[if mso] </td></tr></table>

            %tr{:style => "border-collapse:collapse"}
              %td{:align => "left", :style => "padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"}
                %table{:cellpadding => "0", :cellspacing => "0", :style => "mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px", :width => "100%"}
                  %tr{:style => "border-collapse:collapse"}
                    %td.es-m-p0r{:align => "center", :style => "padding:0;Margin:0;width:560px", :valign => "top"}
                      %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px", :width => "100%"}
                        %tr{:style => "border-collapse:collapse"}
                          %td{:align => "center", :style => "padding:0;Margin:0"}
                            %a{:href => "https://www.youtube.com/watch?v=UuJgdjkiMOY", :style => "-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#2CB543", :target => "_blank"}
                              %img.adapt-img{:alt => "Ordenapp Video", :src => "https://ikefps.stripocdn.email/content/guids/videoImgGuid/images/55731595537174093.png", :title => "Ordenapp Video", :width => "425"}/

            %tr
              %td.esd-structure.es-p35r.es-p35l{:align => "left"}
                %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tbody
                    %br/
                    %br/
                    %tr
                      %td.esd-container-frame{:align => "center", :valign => "top", :width => "530"}
                        %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td.esd-block-text.es-p10b{:align => "center"}
                                %p.s
                                  = t("mailers.admin.intro")
                                %br/
                        %table{:cellpadding => "0", :cellspacing => "0", :width => "80%"}
                          %tbody
                            %tr
                              %td.esd-block-text.es-p5t.es-p10b.es-p40l{:align => "center", :width => "50%" }
                                = image_tag("https://#{ENV['S3_BUCKET_NAME']}.s3.amazonaws.com/user.png", :style => "display: block; height: 50px;", :alt => "User")

                              %td.esd-block-text.es-p5t.es-p10b.es-p40l{:align => "center", :width => "50%" }
                                = image_tag("https://#{ENV['S3_BUCKET_NAME']}.s3.amazonaws.com/key.png", :style => "display: block; height: 50px;", :alt => "Password")

                            %tr
                              %td.esd-block-text.es-p5t.es-p10b.es-p40l{:align => "center", :width => "50%" }
                                %p
                                  = "#{@user.email}"
                                %br/
                              %td.esd-block-text.es-p5t.es-p10b.es-p40l{:align => "center", :width => "50%" }
                                %p
                                  = "#{@pass}"
                                %br/
