<p id="notice"><%= notice %></p>

<h1>Maintenances</h1>

<table>
  <thead>
    <tr>
      <th>Maintenance date</th>
      <th>Frecuency</th>
      <th>Out thing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.maintenance_date %></td>
        <td><%= maintenance.frecuency %></td>
        <td><%= maintenance.out_thing %></td>
        <td><%= link_to 'Show', maintenance %></td>
        <td><%= link_to 'Edit', edit_maintenance_path(maintenance) %></td>
        <td><%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance', new_maintenance_path %>
