.invisible#breadcrumb
  = render_breadcrumbs
.row.flex-box-center
  .col.s12.m10.force_margin
    .card.card-cascade.narrower.pt-0.light-1
      .view.view-cascade.gradient-card-header.gradient-blue.narrower.py-3.mx-4.d-flex.justify-content-between.align-items-center
        = link_to dashboard_path, role: "button", class: "btn btn-outline-white btn-rounded btn-sm px-2", title: t("base.forms.back") do
          %i.fas.fa-chevron-left
        %h3.center.mt-2
          %strong
            = t("category.index.categories")
        = link_to new_category_path, role: "button", class: "btn btn-outline-white btn-rounded btn-sm px-2", title: "Add category" do
          %i.fas.fa-plus
      .card.py-0
        .card-body
          %p#notice= notice
          .category-tableWrapper
            %table#category-table.table.table-striped.table-bordered.table-hover.table-sm.btn-table{:cellspacing => "0", :width => "100%"}
              %caption
                = t("category.index.cat_caption")
              %thead.secondary-color.white-text.align-center
                %tr
                  %th.center
                    = t("category.index.category")
                  %th.center
                    = t("category.index.category_type")
                  %th.center.options.th-sm
                    =t('orders.index.options')
              %tbody
                - cache(@categories) do
                  - @categories.each do |category|
                    %tr
                      %td.align-center
                        = category.name
                      %td.align-center
                        = "#{category_type_humanized(category.category_type ? category.category_type : 'Uncategorized')}"
                      %td.align-center
                        //.btn-group-vertical{"aria-label" => "button group", :role => "group"}
                        = link_to category, class: 'card__button btn-floating btn btn-primary btn-sm', style: "z-index: 0; padding: 0", title: "Details" do
                          %i.fas.fa-info
                        = link_to edit_category_path(category), class: 'card__button btn-floating btn btn-success btn-sm', style: "z-index: 0; padding: 0", title: "Edit" do
                          %i.fas.fa-edit
                        = link_to category_path(category), method: :delete, class: 'card__button btn-floating btn btn-danger btn-sm', style: "z-index: 0; padding: 0", title: "Destroy" do
                          %i.fas.fa-trash-alt
