!!!
%html{lang: "#{locale}"}
  %head
    %title
      = t('home.meta.title')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :page_scripts
    = csrf_meta_tags
    = action_cable_meta_tag
    = favicon_link_tag asset_path('logo-mobile-05.png')
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:name => "description", :content => "#{t('home.meta.description')}"}
    %meta{:name => "keywords", :content => "Software, Herramienta, Gestion, Implementación, Mantenimiento, Optimización, Productividad, Seguimiento, Control, Instalación, Activos, Reparación"}
    / Font Awesome
    %link{:href => "https://use.fontawesome.com/releases/v5.8.2/css/all.css", :rel => "stylesheet"}
    %script{:src => "https://dipzo.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/rvt46q/b/20/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=es-ES&collectorId=86d27848", :type => "text/javascript"}
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-171500849-1"}
    = javascript_include_tag "jquery.timeago"
    :javascript
      I18n.locale = "#{locale}"
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-171500849-1');
  %body
    - if notice
      = javascript_tag "toastr.success('#{notice}', {timeOut: 2000})"
    - if alert
      = javascript_tag "toastr.error('#{alert}', {timeOut: 2000})"
    = render "base/navbar"
    #content.content
      #alert_explanation.alert.alert-info.alert-dismissible.fade.show.display{:role => "alert"}
        %h5.alert-heading
          = t('users.index.as_supervisor_msg', subsidiary: current_user.try(:subsidiary).try(:name))
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
          %li.breadcrumb-item
            %a{:href => "/"}
              = t('base.breadcrumb')
      = yield
